<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>走路</string>
		<key>kalori</key>
		<real>2.94</real>
	</dict>
	<dict>
		<key>name</key>
		<string>舞蹈</string>
		<key>kalori</key>
		<real>4.41</real>
	</dict>
	<dict>
		<key>name</key>
		<string>羽毛球</string>
		<key>kalori</key>
		<real>6.86</real>
	</dict>
	<dict>
		<key>name</key>
		<string>篮球</string>
		<key>kalori</key>
		<real>5.88</real>
	</dict>
	<dict>
		<key>name</key>
		<string>做饭</string>
		<key>kalori</key>
		<real>1.96</real>
	</dict>
	<dict>
		<key>name</key>
		<string>瑜伽</string>
		<key>kalori</key>
		<real>2.45</real>
	</dict>
	<dict>
		<key>name</key>
		<string>游泳</string>
		<key>kalori</key>
		<real>5.88</real>
	</dict>
	<dict>
		<key>name</key>
		<string>清洁家务</string>
		<key>kalori</key>
		<real>2.45</real>
	</dict>
	<dict>
		<key>name</key>
		<string>水中慢跑</string>
		<key>kalori</key>
		<real>7.84</real>
	</dict>
	<dict>
		<key>name</key>
		<string>乒乓球</string>
		<key>kalori</key>
		<real>3.92</real>
	</dict>
	<dict>
		<key>name</key>
		<string>太极</string>
		<key>kalori</key>
		<real>3.92</real>
	</dict>
	<dict>
		<key>name</key>
		<string>健美操</string>
		<key>kalori</key>
		<real>5.88</real>
	</dict>
	<dict>
		<key>name</key>
		<string>俯卧撑</string>
		<key>kalori</key>
		<real>7.742</real>
	</dict>
	<dict>
		<key>name</key>
		<string>仰卧起坐</string>
		<key>kalori</key>
		<real>7.742</real>
	</dict>
	<dict>
		<key>name</key>
		<string>跳绳</string>
		<key>kalori</key>
		<real>9.800000000000001</real>
	</dict>
	<dict>
		<key>name</key>
		<string>体操</string>
		<key>kalori</key>
		<real>3.92</real>
	</dict>
	<dict>
		<key>name</key>
		<string>网球</string>
		<key>kalori</key>
		<real>3.92</real>
	</dict>
	<dict>
		<key>name</key>
		<string>游泳</string>
		<key>kalori</key>
		<real>5.88</real>
	</dict>
</array>
</plist>
